:root {
    --background-color: black;
    --modal-background-color: black;
    --video-progressbar-background-color: red;
    --btn-speed-selected-background-color: white;
    --video-link-color: white;
}
