.icon {
  font-size: 2em;
  cursor: pointer;
  margin-left: 5px;

  border: none;
  background-color: black;
}

.icon-normal {
  color: tomato;
}

.icon-selected {
  color: green;
}

.icon-unselected {
  color: gray;
}

.icon-green {
    color: #017837;
}

.icon-blue {
    color: #01398A;
}

.icon-yellow {
    color: #746301;
}

.icon-red {
    color: #740101;
}

.bg {
    background-color: red;
}

.border {
    border-color: #131314 !important;
    border-style: solid;
    border-width: 1px;
    /*margin: 2px;*/
    /*padding: 4px;*/
}

.rodape {
    color: #4D4D4D;
    font-size: 0.8rem;
}

.rodape label {
    margin-bottom: 0;
}

.rodape .duration {
    background-color: #B9B9B9;
    color: black;
    padding: 0px 2px;
    margin-bottom: 10px;
}

.rodape .published {
    margin-left: 20%;
}

.title {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white !important;
}

.buttons {
    min-width: 210px;
    text-align: right;
}

.modal-dialog iframe {
    margin: 0 auto;
    display: block;
}

.modal-dialog {
    max-width: 70%;
    /*max-height: 80%;*/
    background-color: dimgray;
    
    overflow-y: initial !important
}

.modal-content {
    background-color: black;
}

button.close {
    color: white;
}

button.close:hover {
    color: white !important;
}

.modal-footer {
    height: 250px;
    overflow-y: auto;
}