.icon {
    font-size: 2em;
    cursor: pointer;
    margin-right: 5px;
    /* margin-left: 0px; */
    padding-left: 0;
    padding-top: 0;
    border: none;
    background-color: black;
}

.icon-normal {
    color: tomato;
}

.icon-selected {
    color: green;
}

.icon-unselected {
    color: gray;
}

.icon-green {
    color: #017837;
}

.icon-blue {
    color: #01398A;
}

.icon-yellow {
    color: #746301;
}

.icon-red {
    color: #740101;
}

.bg {
    background-color: red;
}

.border {
    border-color: #131314 !important;
    border-style: solid;
    border-width: 1px;
    /*margin: 2px;*/
    /*padding: 4px;*/
}

.rodape {
    color: #4D4D4D;
    font-size: 0.8rem;
}

.rodape label {
    margin-bottom: 0;
}

.rodape .duration {
    background-color: #B9B9B9;
    color: black;
    padding: 0px 2px;
    margin-bottom: 10px;
}

.rodape .duration-area {
    min-width: 110px;
}

.rodape .published {
    margin-left: 20%;
}

.rodape .live {
    color: white;
    background-color: red;
}

.title {
    font-weight: 500;
}

.title a {
    text-decoration: none;
    color: white !important;
}

.buttons {
    min-width: 210px;
}

.buttons a:hover {
    text-decoration: none;
}

.buttons-right {
    text-align: right; 
}

.speed-button {
    font-size: 1em;
    cursor: pointer;
    margin-right: 5px;
    min-width: 50px;
    /* margin-left: 0px; */
    padding: 0;
    border: none;
    text-align: center;
    background-color: gray;
    border-radius: 2px;
}

.speed-button:focus {
    outline: none;
}

.speed-selected {
    background-color: white;
}

.modal-dialog iframe {
    margin: 0 auto;
    display: block;
}

.modal-dialog {
    max-width: 70%;
    /*max-height: 80%;*/
    background-color: dimgray;
    overflow-y: initial !important
}

.modal-content {
    background-color: black;
}

button.close {
    color: white;
}

button.close:hover {
    color: white !important;
}

.modal-footer {
    height: 250px;
    overflow-y: auto;
}

h5 {
    margin-top: 8px;
    margin-bottom: 0;
}

#progressBar {
    width: 100%;
    height: 3px;
    background-color: #444444;
    display: none;
    margin-top: 1px;
}

#progressBar div {
    height: 100%;
    width: 0;
    background-color: red;
}
